#!/usr/bin/env bash

# Set Terminal
export PS1="(Bitcoin)"${PS1}

# Coincheck
export COINCHECK_API_KEY="xxx"
export COINCHECK_API_KEY_SECRET="xxx"

# Kraken
export KRAKEN_API_KEY="xxx"
export KRAKEN_API_KEY_SECRET="xxx"

# zaif
export ZAIF_API_KEY="xxx"
export ZAIF_API_KEY_SECRET="xxx"
export ZAIF_ADDRESS="xxx"

# bitFlyer Lightning
export BIT_FLYER_LIGHTNING_API_KEY="xxx"
export BIT_FLYER_LIGHTNING_API_KEY_SECRET="xxx"
